

.button {
    background-color: #15803D;
    color: white;
    padding: 18px 28px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
}

.button:hover {
    background-color: #129e46;
}