.infoArea {
  width: 100vw;
  background: #0B1222;
  padding: 120px 0;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 32px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 56px;
}


.text h1 {
  color: #ffffff;
  font-family: serif;
  font-size: 4.5rem;
  font-weight: 400;
  margin-bottom: 24px;
}

.text p {
  text-indent: 2em;
  color: rgba(255, 255, 255, 0.85);
  font-size: 1.15rem;
  line-height: 1.6;
  max-width: 420px;
  margin-bottom: 40px;
}

.text button {
  color: white;
  background: cadetblue;
  border: none;
  border-radius: 999px;
  padding: 16px 48px;
  font-size: 0.95rem;
  cursor: pointer;
}


.imageWrapper {
  margin-top: 32px;
  position: relative;
  width: 550px;
  height: 580px;
  border-radius: 36px;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .imageWrapper {
    width: 100%;
    max-width: 520px;
    height: 420px;
  }

  .imageWrapper img {
    object-position: top center;
  }

  .text p {
    max-width: 600px;
    margin: 0 auto 32px;
  }
}


@media (max-width: 768px) {
  .infoArea {
    padding: 80px 0;
  }

  .container {
    max-width: 100%;
    width: 100%;
    padding: 0 16px;
    flex-direction: column;
    text-align: center;
  }

  .text p {
    margin: 0 auto 32px;
    font-size: 20px;
  }

  .text button {
    margin: 0 auto;
  }

  .imageWrapper {
    height: 380px;
    width: 100%;
  }
}
