.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form input,
.form select,
.form textarea {
  background: #020817;
  border: 1px solid #1e293b;
  color: gray;
  padding: 14px;
  border-radius: 8px;
  font-size: 0.95rem;
}

.form textarea {
  resize: none;
  min-height: 120px;
}

.form button {
  background: #15803D;
  color: white;
  border: none;
  padding: 16px;
  border-radius: 999px;
  cursor: pointer;
  font-size: 1rem;
}

.form span {
  color: gray;
  font-size: 0.85rem;
  text-align: center;
}

.form span a {
  color: cadetblue;
  margin-left: 6px;
  text-decoration: none;
}
