.Header {
  width: 100vw;
  height: 72px;
  background-color: #020817;
  position: relative;
}

.container {
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  padding: 0 32px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: var(--font-playfair);
  font-style: italic;
  font-size: 1.4rem;
  color: aliceblue;
}

.nav ul {
  display: flex;
  gap: 32px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav li {
  color: white;
  cursor: pointer;
}

.menuButton {
  display: none;
  background: none;
  border: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    width: 100%;
    padding: 0 16px;
  }
  .menuButton {
    display: block;
  }

  .nav {
    position: absolute;
    top: 72px;
    right: 32px;

    background: #020817;
    border-radius: 8px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);

    display: none;
  }

  .nav.open {
    display: block;
  }

  .nav ul {
    flex-direction: column;
    padding: 16px 24px;
    gap: 16px;
  }
}
